.sidebar {
	color: #000;
	background-color: #fff;
	flex: 1.625;
	height: 100vh;
	overflow: auto;
}

.sidebar__section {
	padding: 0.75em 0.25em 0.75em 0;
}

.sidebar__section-heading {
	padding: 0 0.75em 0.25em;
}

.sidebar__list-item {
	display: flex;
	cursor: pointer;
	align-items: center;
}

.sidebar__list-item:hover {
	background-color: #e6e6e6;
}
.sidebar__icon {
	margin: 0.3333333333333333em 0.8333333333333334em;
}
